/* Global  */
* {
  box-sizing: border-box;
}
:root {
  --accent_color: #4694DC;
  --grey_color: #9CA3AF;
}
.global__container {
  width: 888px;
  margin: 0 auto;
}
.global__title {
  font-family: ms_semibold;
  font-size: 16px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
.global__subtitle {
  font-family: ms_regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--grey_color);
  width: 465px;
  margin: 0 auto;
}

/* Header  */

.header {
  padding-top: 125px;
  padding-bottom: 122px;
  background-color: var(--accent_color);
}
.header__container {
  max-width: 1128px;
  margin: 0 auto;
}
.header__body {
}
.header__title {
  font-family: ms_semibold;
  font-size: 56px;
  color: #fff;
  margin-bottom: 42px;
}
.header__text {
  font-family: ms_regular;
  font-size: 16px;
  max-width: 437px;
  line-height: 24px;
  margin-bottom: 46px;
  color: #fff;
}
.header__button {
  width: 194px;
  height: 60px;
  border: none;
  font-family: ms_regular;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .header__container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .header__container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .header__container {
    max-width: 320px;
  }
  .header__title {
    font-size: 36px;
  }
  .header {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 335px) {
  .header__container {
    padding: 0 15px;
  }
}

/* Services  */

.services {
  padding-top: 103px;
  padding-bottom: 160px;
}
.services__body {
}
.services__title {
  margin-bottom: 26px;
}
.services__subtitle {
  margin-bottom: 120px;
}
.services__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__info_item {
  min-width: 280px;
  text-align: center;
}
.services__info_item-img {
  margin-bottom: 35px;
}
.services__info_item-name {
  font-family: ms_regular;
  font-size: 16px;
  color: var(--grey_color);
}